.VSinglePost-container {
  margin-left: 1rem;
  margin-right: 1rem;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  &__info {
    font-size: 1.5rem;
    &-avatar {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      margin-right: 5px;
      position: relative;
      top: 0.6rem;
      margin-right: 1rem;
    }
  }
  &__body {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.65;
    margin: 2.5rem 0 1.8rem 0;
  }
}
