.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;

  @include tablet {
    width: 60%;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    background-color: $secondary-mercury;
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    @include tablet {
      display: flex;
      padding-left: 2rem;
    }
    &-no {
      color: $green;
    }
  }
  &__posts {
    display: flex;
    padding: 2rem;
    background-color: $secondary-alabaster;
    border-radius: 10px;
    border: 0.1px solid $cloud;
    position: relative;
    &-link {
      padding-top: 1rem;
      margin-right: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      @include tablet {
        font-size: 1.5rem;
      }
    }
    &-actions {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 2rem;
      padding-right: 3rem;
      font-size: 1.5rem;
      .edit {
        color: $secondary-blue; // blue color
      }
      .delete {
        color: $red; // red color
      }
    }
  }
}
