input,
textarea {
  height: 2.5rem;
  padding-left: 1rem;
  border: 1px solid $cloud;
  border-radius: 0.25rem;
  font-family: "Titillium Web";
  font-size: 1.5rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  @include tablet {
    padding: 1.5rem;
    width: 100%;
  }
  &:focus {
    border-radius: 1.2rem;
    outline: none;
    box-shadow: 0 0 0 0.1rem $secondary-blue;
  }
  &::placeholder {
    font-weight: 400;
    color: $secondary-black;
    font-size: 1rem;
  }
}
textarea {
  height: 150px;
}

label {
  width: 100%;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.button {
  padding: 0.8rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  margin-right: 1rem;
  border: none;
  @include tablet {
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0.5rem 0.5rem;
  }

  &--blue {
    background-color: $primary-blue;
    color: $primary-white;
    width: 30%;
    @include tablet {
      width: 20%;
    }
    &-front {
      width: 100%;
      @include tablet {
        width: 20%;
      }
    }
  }
  &--green {
    color: #fff;
    background-color: $green;
    border-color: $green;
    width: 35%;
    @include tablet {
      font-size: 1.2rem;
      width: 30%;
      margin: 0.5rem 0.5rem;
    }
    @include desktop {
      padding: 1rem;
    }
  }
  &--white {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    padding: 1rem 2rem;
    color: black;
    border: none;
    font-size: $medium;
    box-shadow: 0 0 0 0.1rem #343a40;
    &-small {
      margin-top: 3rem;
      margin-bottom: 3rem;
      &-top {
        margin-bottom: 0rem;
      }
      @include tablet {
        margin-top: 3rem;
        margin-right: 0.8rem;
        width: 45%;
      }
      a {
        color: black;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  &-site-button {
    width: 30%;
    font-size: 0.7rem;
    margin-bottom: 3rem;
    padding: 0.7rem;
    @include tablet {
      padding: 0.8rem;
      font-size: 1.2rem;
      width: 30%;
      margin: 0.5rem 0.5rem;
    }
    @include desktop {
      padding: 1rem;
    }
  }
  &:hover {
    outline: none;
    box-shadow: 0 0 0 0.1rem #343a40;
    background-color: #343a40;
    color: white !important;
    font-weight: 500;
    border: none;
  }
}
