/* universal-reset */
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "AvenirNext LT Pro", "Open Sans", sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: #d59541;
}
/* Error state for input fields */
.is-invalid {
  border: 1px solid #dc3545;
}

/* Error message styles */
.invalid-feedback {
  color: red;
  font-size: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.Loading {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
