/*Colors Variables*/
$primary-black: #323232;
$primary-blue: #0095ff;
$primary-silver: #afafaf;
$primary-white: #fff;
$secondary-black: #000;
$secondary-blue: #0065ad;
$secondary-mercury: #e1e1e1;
$secondary-alabaster: #fafafa;
$cloud: #bdc5d5;
$black: #000;
$white: #ffffff;

/*mixins variables*/
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

/*Fonts*/
$vvlarge: 4rem;
$vlarge: 3rem;
$large: 2rem;
$medium: 1.5rem;
$small: 1rem;
$vsmall: 0.8rem;
