.site-header {
  display: flex;
  flex-direction: column;
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
  }
  &__logo {
    flex-grow: 1;
    margin: 2rem 1rem;
    text-align: center;
    font-size: 2rem;
    font-family: "Gluten", cursive;
    a {
      color: #000;
      font-weight: 600;
    }
    @include tablet {
      text-align: left;
      flex: 2;
      margin: 3rem 2rem;
    }
    @include desktop {
      text-align: left;
      flex: 4;
    }
  }
  &__elements {
    @include tablet {
      flex: 7;
      margin-left: 3rem;
    }
    input {
      @include tablet {
        width: 30%;
      }
    }
  }
}
